.player {
  background-color: #047C8C;
  border: 2px solid #000;
  color: #FFF;
}

.common {
  color: #FFF;
}

.uncommon {
  color: #F49B78;
}

.rare {
  color: #F1706D;
}

.legendary {
  color: #AC6C82;
}

.monster-common {
  background-color: #FFF;
  border: 2px solid #000;
}

.monster-uncommon {
  background-color: #F49B78;
  border: 2px solid #000;
}

.monster-rare {
  background-color: #F1706D;
  border: 2px solid #000;
}

.monster-legendary {
  background-color: #AC6C82;
  border: 2px solid #000;
}