<table class="table table-striped" ng-controller="AdminController as adminCtrl">
  <tr>
  	<td>Enter player level</td>
  	<td><input type="text" ng-model="adminCtrl.playerLevel"></td>
  </tr>
  <tr>
  	<td>Enter monster HP</td>
  	<td><input type="text" ng-model="adminCtrl.monsterHP"></td>
  </tr>
  <tr>
  	<td>Player Strength</td>
  	<td>{{adminCtrl.playerstrength()}}</td>
  </tr>
  <tr>
  	<td>Player Total Damage</td>
  	<td>{{adminCtrl.playerdamage()}}</td>
  </tr>
  <tr>
  	<td>Number Hits to Kill</td>
  	<td>{{adminCtrl.totalhits()}}</td>
  </tr>
</table>